/* body - The main body of the page. */
body{
    margin: 0;
    padding: 0;
    background: url('./images/Concept-Art-11.png');
    background-position: center bottom 100%;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: black;
}

/* * - All elements within the application. */
*{
    box-sizing: border-box;
}
/***************************************************************************************************************************************************/
/***************************************************************************************************************************************************/
/* |Header Section| */
#header{
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-template-rows: auto;
    gap:10px;

    border: 3px solid white;
    border-radius: 8px;
    color: black;
    padding: 10px;
    margin: 0 auto;
    margin-top: 40px;
    width: 800px;
    background-color: #fefce8;
}
#header > div{
    border: 2px solid darkblue;
}

/* Title Section */
#header > div:nth-child(6){
    grid-column: 1 / 6;

    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
}


/***************************************************************************************************************************************************/
/***************************************************************************************************************************************************/
/* |Main Content Section| */
#main-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 200px;

    border: 3px solid white;
    border-radius: 8px;
    color: black;

    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    width: 1200px;
}
#main-content > div{
    border: 2px solid white;
    background-color: #fefce8;
}